<h1>New Pet Adoption Applications</h1>

<%= form_for(@applications).each do |f|%>
<%=f.label :first_name%>
<%=t.text_field :first_name%>
<%=f.label :last_name%>
<%=t.text_field :last_name%>
<%=f.label :user_name%>
<%=t.text_field :user_name%>
<%=f.checkbox @pets.each do |pet|%>
<%=t.option :pet%>
<%=t.text_field :first_name%>
